body{
    text-align:center;
}

#container{
    height:800px;
    width:1200px;
    border: 2px black solid;
    border-radius:12px;
    overflow: hidden;
    position:relative;
    margin:auto;
    transform: scale(.8);
}
#sunFace{
    position:absolute;
    height:200px;
    width:200px;
    border-radius:100px;
    border:.5px solid black;
    background-image: url("./images/sunface.svg");
    background-repeat: no-repeat;
    background-size: contain;
    


}

#sunFace:hover{
   
    height:210px;
    width:210px;
    top:-10px;
    left:-10px



}



.rayE{
    /* border: 1px solid black; */
    position: absolute;
    height: 60px;
    width: 600px;
    background-image: url(./images/ray1.svg);
    background-repeat: no-repeat;
    background-size: contain;
    left: -300px;
    top: -25px;
    margin: auto;


}
.rayO{
    margin:auto;
    border: 1px solid black;
    position: absolute;
    height: 20px;
    width: 3000px;
    background-image: url(./images/ray2.svg);
    background-repeat: no-repeat;
    image-orientation: none;
    background-size: cover;
    transform-origin: center;
    background-position: center;
    /* transform: rotate(90deg); */
    left: -1500px;
    

}
.rays{
    transition: transform .8s;
}

#raysContainer{
  position:absolute;
  top:100px;
  left:100px;
    transform-origin: center;
    animation:rotateSun 5s linear infinite;
    text-align: center;
    
}
#raysContainer2{
    position:absolute;
    top:100px;
    left:100px;
    transform-origin: center;
    /* animation:rotateSun 7s linear infinite; */
}

#sunDial{
    position: absolute;
    left: calc(50% - 100px);
    top: -50%;
    height: 200%;
    /* border: 1px solid black; */
    transform-origin: bottom;
    
}
#sunContainer{
  
    position: absolute;
    top: 30%;
    


}
@keyframes rotateSun {
0%{transform: rotate(0deg);}
50%{transform: rotate(180deg);}
100%{transform: rotate(360deg);}
    
}

#towerContainer{
    position:absolute;
    height:100%;
    width:100%;
    pointer-events: none;
}

#sky{
    position:Absolute;
height:100%;
width:100%;
/* top:50%;
left:50%; */


}
#day{
    position:Absolute;
    height:100%;
    width:100%;
    
background-color: rgb(42, 139, 250);
}
#night{
    position:Absolute;
    height:100%;
    width:100%;
    background-color: rgb(0, 0, 0);
    opacity: .2;
}
#towerContainer{
    position:Absolute;
    height:100%;
    width:100%;
    /* background-color: rgb(0, 0, 0);
    opacity: .2; */
}

#towerDay{
    position:Absolute;
    height:100%;
    width:100%;
    position: absolute;
    background-image: url(./images/towerDay.svg);
    background-repeat: no-repeat;
    background-size: contain;

    margin: auto;

}

#towerNight{
    position:Absolute;
    height:100%;
    width:100%;
    position: absolute;
    background-image: url(./images/towerNight.svg);
    background-repeat: no-repeat;
    background-size: contain;

    margin: auto;
    transform-style:preserve-3d;
    transform: rotateX(90deg);
    transform-origin: bottom;
    


}
#princess{
    height: 180px;
    width: 180px;
    top: 35%;
    left: 28%;
    position: absolute;
    background-image: url(./images/princess.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
    opacity: 0;
    transition: opacity 1s;

}

#fool{
    background-image: url(./images/fool.svg);
    height: 550px;
    width: 550px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    left: 60%;
    top:24%;
    animation: moonFall both linear .5s;
    pointer-events: none;
}

@keyframes moonFall {

    0%{top:-100%}
    80%{top:25%}
    95%{top:23%}
    100%{top:24%}
    
}

.fadeSun{
    animation:fadeSun .5s both
}

@keyframes fadeSun {

    0%{opacity: 1;}
    100%{opacity: .01}
    
}

@keyframes flipUp {

    0%{transform: rotateX(180deg);}
    100%{transform: rotateX(0deg)}
    
}

.starContainer{
    position:absolute;
    height:30px;
    width:30px;
    transform-origin: center;
    background-image: url("./images/star.svg");
    animation:starGrow .3s both;
}


.heartContainer{
    position:absolute;
    height:30px;
    width:30px;
    background-repeat: no-repeat;
    background-size: contain;
    transform-origin: center;
    background-image: url("./images/Heart.svg");
    animation:starGrow .3s both;
}

@keyframes starGrow {
    0%{height:5px; width: 5px;}
    100%{height:30px; width: 30px;}
    
}

#fool2{
    background-image: url(./images/fool2.svg);
    height: 100%;
    width: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;

    pointer-events: none;

}

.foolAnimated{
    
    animation: foolAnimated 1s linear infinite !important
} 

@keyframes foolAnimated {
    0%{    opacity:0;
    }
    100%{   opacity: 1;
    }
    
}

#cover{
    position:absolute;
    height:100%;
    width:100%;
    background-color: aliceblue;
    background-image: url(./images/towerDay.svg);
    background-repeat: no-repeat;
    background-size: contain;
    z-index:1000;
    

}

#letter{
    text-align: left;
    position:absolute;
    left:2.5%;
    top:2.5%;
    height:95%;
    width:95%;
    transform-style: preserve-3d;
    display: none;
    animation:letterDrop .5s both;
    transform:rotateY(-15deg)
}

@keyframes letterDrop {
    0%{ top:-50%}
    100%{top:2.5%}
    
}

@keyframes letterFlip1 {
    0%{ transform: rotateX(0deg);}
    100%{transform: rotateX(179deg);}
    
}
@keyframes letterFlip2 {
    0%{ transform: rotateX(0deg);}
    100%{transform: rotateX(179deg);}
    
}
#letterA{
    background-color: rgb(215, 225, 235);
    position:absolute;
    width:100%;
    height:30%;
    display: none;

    
    
 
}
#letterB{
    background-color: rgb(236, 242, 248);
    ;

    position:absolute;
    width:100%;
    height:100%;

    transform-style:preserve-3d;
    /* transform: rotateX(179deg); */
    transform-origin: bottom;
    display: none;
    /* animation:letterFlip .5s both */


    
}
#letterC{
    background-color:aliceblue;

    position:absolute; 
    width:100%;
    height:100%;
    transform-style:preserve-3d;
    /* transform: rotateX(178deg); */
    transform-origin: top;
    display: none;
   /* animation:letterFlip2 .5s both */



}

#Message{
    width: 100%;
    position: absolute;
    transition: opacity 1s;
    padding-top: 80px;
    text-align: center;
    font-size: 30px;
    opacity: 0;
    /* z-index: 50; */
    margin: auto;
}

#instructions{
    position: relative;
    top: -79px;
}